$Brightorange: hsl(31, 77%, 52%);
$Darkcyan: hsl(184, 100%, 22%);
$Verydarkcyan: hsl(179, 100%, 13%);
$Transparentwhite: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$Verylightgray: hsl(0, 0%, 95%); //(background, headings, buttons)

$cursive: "Big Shoulders Display", cursive;
$sansSerif: "Lexend Deca", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 2;
}

body {
  font-family: $sansSerif;
  background: $Verylightgray;

  .container {
    max-width: 100vw;
    height: 95vh;
    width: 100%;
    @include center;
    
    @media only screen and (max-width: 450px) {
      height: auto;
      display: block;
    //   text-align: center;
    }

    .row {
      @include center;
      overflow: hidden;
      width: 65%;
      border-radius: 0.8rem;
      
      @media only screen and (max-width: 450px) {
        width: 90%;
        margin: 5rem auto;
        // border-radius: 0;
        display: block;
      }

      .col-1-of-3 {
        padding: 5rem;
        width: 33.3333;
        
        @media only screen and (max-width: 450px) {
          width: 100%;
        }
        
        
        &__1 {
          background: $Brightorange;
          transform: translateX(-400px);
          opacity: 0;
          animation: fromLeft 1.8s ease 0.1s 1 forwards;
        }
        
        &__2 {
          background: $Darkcyan;
          opacity: 0;
          animation: show 0.3s cubic-bezier(0.23, 0.72, 1, -0.66) 1.9s 1
            forwards;
        }
        
        &__3 {
          background: $Verydarkcyan;
          transform: translateX(400px);
          opacity: 0;
          animation: fromRight 1.8s ease 0.1s 1 forwards;
        }

        .col {
          &__heading {
            color: $Verylightgray;
            font-family: $cursive;
            font-weight: 700;
            margin: 1.5rem 0;
            font-size: 4rem;
            display: inline-block;
            transition: all 0.3s cubic-bezier(0.94, 0.84, 0.02, 0.31);

            &:hover {
              transform: skewY(7deg);
            }
          }

          &__para {
            font-size: 1.6rem;
            color: $Transparentwhite;
          }

          &__link {
            text-decoration: none;
            font-size: 1.6rem;
            color: $Verylightgray;
            display: inline-block;
            padding: 1.2rem 3.6rem;
            margin: 5rem 0 1rem;
            border: 3px solid $Verylightgray;
            background: $Verylightgray;
            border-radius: 48px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45),
              0 .1rem 2rem rgba(0, 0, 0, 0.15);
            transition: all 0.3s ease;

            &--1 {
              color: $Brightorange;
              outline: 2px solid rgba($Brightorange, 0.15);
            }

            &--2 {
              color: $Darkcyan;
              outline: 2px solid rgba($Darkcyan, 0.15);
            }

            &--3 {
              color: $Verydarkcyan;
              outline: 2px solid rgba($Verydarkcyan, 0.15);
            }

            &:hover {
              transform: translateY(-2px);
              color: $Verylightgray;
              background: transparent;
            }

            &:active {
              transform: translate(0);
              box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.45),
                0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            }
          }
        }
      }
    }
  }
}

.attribution {
  text-align: center;
  color: #444;
  font-size: 1.6rem;
}

// =========================================================

@keyframes fromLeft {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes show {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
