@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 2;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: #f2f2f2;
}
body .container {
  max-width: 100vw;
  height: 95vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 450px) {
  body .container {
    height: auto;
    display: block;
  }
}
body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 65%;
  border-radius: 0.8rem;
}
@media only screen and (max-width: 450px) {
  body .container .row {
    width: 90%;
    margin: 5rem auto;
    display: block;
  }
}
body .container .row .col-1-of-3 {
  padding: 5rem;
  width: 33.3333;
}
@media only screen and (max-width: 450px) {
  body .container .row .col-1-of-3 {
    width: 100%;
  }
}
body .container .row .col-1-of-3__1 {
  background: #e38826;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
  -webkit-animation: fromLeft 1.8s ease 0.1s 1 forwards;
          animation: fromLeft 1.8s ease 0.1s 1 forwards;
}
body .container .row .col-1-of-3__2 {
  background: #006970;
  opacity: 0;
  -webkit-animation: show 0.3s cubic-bezier(0.23, 0.72, 1, -0.66) 1.9s 1 forwards;
          animation: show 0.3s cubic-bezier(0.23, 0.72, 1, -0.66) 1.9s 1 forwards;
}
body .container .row .col-1-of-3__3 {
  background: #004241;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
  opacity: 0;
  -webkit-animation: fromRight 1.8s ease 0.1s 1 forwards;
          animation: fromRight 1.8s ease 0.1s 1 forwards;
}
body .container .row .col-1-of-3 .col__heading {
  color: #f2f2f2;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  margin: 1.5rem 0;
  font-size: 4rem;
  display: inline-block;
  -webkit-transition: all 0.3s cubic-bezier(0.94, 0.84, 0.02, 0.31);
  transition: all 0.3s cubic-bezier(0.94, 0.84, 0.02, 0.31);
}
body .container .row .col-1-of-3 .col__heading:hover {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
body .container .row .col-1-of-3 .col__para {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.75);
}
body .container .row .col-1-of-3 .col__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f2f2f2;
  display: inline-block;
  padding: 1.2rem 3.6rem;
  margin: 5rem 0 1rem;
  border: 3px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 48px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45), 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45), 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body .container .row .col-1-of-3 .col__link--1 {
  color: #e38826;
  outline: 2px solid rgba(227, 136, 38, 0.15);
}
body .container .row .col-1-of-3 .col__link--2 {
  color: #006970;
  outline: 2px solid rgba(0, 105, 112, 0.15);
}
body .container .row .col-1-of-3 .col__link--3 {
  color: #004241;
  outline: 2px solid rgba(0, 66, 65, 0.15);
}
body .container .row .col-1-of-3 .col__link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #f2f2f2;
  background: transparent;
}
body .container .row .col-1-of-3 .col__link:active {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.45), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.45), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.attribution {
  text-align: center;
  color: #444;
  font-size: 1.6rem;
}

@-webkit-keyframes fromLeft {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes fromRight {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes fromRight {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes show {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
@keyframes show {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=RWD-index.css.map */